<div class="contain">
    
  <div class="row">

      <div class="col-md-1"></div>
      <div class="col-md-10">
        <video id="my-video" class="video-js" controls preload="auto" width="1180" height="700"
        poster="{{ poster }}" data-setup="{}">
          <source src="{{ movie }}" type='video/mp4'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
      <div class="col-md-1"></div>

  </div>
  
</div>  