<div class="contain">

  <div class="row">  
        <div class="col-md-1"></div>
        <div class="col-md-10 movieTitle">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-md-1"></div>      
  </div>
    
  <div class="row">

      <div class="col-md-1"></div>
      <div class="col-md-10">
        <!--
        <video id="my-video" class="video-js" controls preload="auto" width="1180" height="700"
        poster="{{ poster }}" data-setup="{}">
          <source src="{{ movie }}" type='video/mp4'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
        -->
        <vg-player>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
        
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
        
            <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>
        
                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        
                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        
                <vg-track-selector></vg-track-selector>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
        
                <vg-fullscreen></vg-fullscreen>
            </vg-controls>
                 
            <video [vgMedia]="media" #media id="singleVideo" vg-responsive="true" preload="auto" controls>
                <source src="{{ movie }}" type="video/mp4">
            </video>
        </vg-player>        
      </div>
      <div class="col-md-1"></div>

  </div>
  
</div>  